@font-face {
    font-family: Glacial;
    src: url("font/glacial-indifference/GlacialIndifference-Regular.otf") format("opentype");
}

@font-face {
    font-family: Glacial-Italic;
    src: url("font/glacial-indifference/GlacialIndifference-Italic.otf") format("opentype");
}

@font-face {
    font-family: Glacial-Bold;
    src: url("font/glacial-indifference/GlacialIndifference-Bold.otf") format("opentype");
}

body {
    box-sizing: border-box;
    background-image: url(img/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0%;
}

.macro {
    position: relative;
    margin: 0%;
    height: 100vh;
    /* border: red solid 2px; */
}

.logo-y-botones-cnt {
    /* border: yellow solid 2px; */
    width: 55%;
    
}
.logo-img {
    width: 100%; 
    margin: 25% 0% 0% 25%;  
    background-image: url(img/triangle.svg);
    background-repeat: no-repeat;
    /* border: grey solid 2px; */
}

.buttons-container {
    display: flex;
    flex-direction: column;
    margin: 28% 0 0% 25%;
    width: 50%;
    /* border: red 2px solid;  */
}

.home-button {
    width: 100%;
    padding: 4% 0; 
    font-family: Glacial;
    font-size: 7vw;
    background-color: rgb(130, 114, 81, 0.7);
    border: none;
    margin: 20% 0 0 0;
    /* border: blue 2px solid; */
}

.button-link {  
    text-decoration: none;
    color: #fffef9;
    text-shadow: 2px 3px 20px #000; 
    /* border: yellow 2px solid; */
}

.triangulo-grande-cnt {
    position: absolute;

    width: 100%;
    margin: 0;
    top: 0%;
    right: 0%;
    bottom: 0%;
    background-image: url(img/triangle3.svg);
    /* background-color: rgba(167, 141, 91, 0.3);
    clip-path: polygon(100% 0, 0% 100%, 100% 100%); */
    background-repeat: no-repeat;
    background-size: cover;

    /* border: blue solid 7px; */
}

.main-description-text{
    font-family: Glacial;
    font-size: 3.8vw;
    text-shadow: 2px 3px 20px #000; 
    color: #fffef9;
    width: 76%;

    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    margin: 0 3.5% 7.5% 0;
    /* border: green solid 2px; */

}